.playFair {
    letter-spacing: 0.25px;
    font-weight: 700;
    font-family: 'Playfair Display', serif !important;
    font-size: calc(1.1rem + 1vw);
    line-height: calc(1.5rem + 1vw);
}

.lato {
    font-family: 'Lato', sans-serif !important;
}

.navbar .dropdown-menu{
    right: 0px;
    width: fit-content;
    left: unset;
}

.mainDropdown {
    width: max-content;
}

.dropDownCat {
    padding-bottom: 0.75rem;
    font-weight: 600;
}

#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#mainNav .navbar-toggler {
    font-size: 25px;
    color: var(--bs-gray-900);
    padding: 0.5rem 0 0.5rem 1.25rem;
    border: none;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active {
    outline: none;
    color: var(--bs-gray-500);
    background-color: var(--bs-gray-200);
}

#mainNav .navbar-brand {
    color: var(--bs-gray-900);
    font-weight: 600;
    padding: 0.5rem 1.5rem 0.5rem 0;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:hover {
    color: var(--bs-gray-700);
    font-weight: 700;
}

#mainNav.navbar-shrink .navbar-brand:focus,
#mainNav.navbar-shrink .navbar-brand:active,
#mainNav.navbar-shrink .navbar-brand:hover {
    color: #7EA19F;
}

.caseStudyCW #mainNav.navbar-shrink .navbar-brand:focus,
.caseStudyCW #mainNav.navbar-shrink .navbar-brand:active,
.caseStudyCW #mainNav.navbar-shrink .navbar-brand:hover {
    color: #807566;
}

.caseStudyVTP #mainNav.navbar-shrink .navbar-brand:focus,
.caseStudyVTP #mainNav.navbar-shrink .navbar-brand:active,
.caseStudyVTP #mainNav.navbar-shrink .navbar-brand:hover {
    color: #7E6CA6;
}

.caseStudyTD #mainNav.navbar-shrink .navbar-brand:focus,
.caseStudyTD #mainNav.navbar-shrink .navbar-brand:active,
.caseStudyTD #mainNav.navbar-shrink .navbar-brand:hover {
    color: #4D8C61;
}

#mainNav .navbar-nav .nav-item:hover{
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
    /*  font-family: Lato; */
    /* font-weight: 900; */
    /*  letter-spacing: 0.25px; */
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

.masthead {
    position: relative;
    width: auto;
    padding: 15rem 0;
}

.masthead h1 {
    font-family: 'IBM Plex Serif', sans-serif !important;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.05rem !important;
    background: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
    font-weight: 500 !important;
}

.masthead-sub {
    position: relative;
    width: auto;
    padding: 15rem 0;
}

.masthead-sub h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
    font-size: calc(1.25rem + 3vw);
    line-height: calc(2.5rem + 3vw);
    letter-spacing: 0.25px;
    background: #141610;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
}

.caseStudyTD h1 {
    line-height: calc(2.25rem + 3vw);
}

.masthead-sub h2 {
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 22px !important;
}

/* Title fade animations */
.topFade {
    opacity: 0;
    animation: topFadeOut 1200ms 500ms ease-out forwards;
}

@keyframes topFadeOut {
    0% {    
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn-2 {
    opacity: 0;
    animation: fadeInText 3500ms 200ms ease-out forwards;
}

.fadeIn-1{
    opacity: 0;
    animation: fadeInText 2000ms 300ms ease-out forwards;
}

@keyframes fadeInText {
    100%{
        opacity: 1;
    }
}

.projects-section {
    padding-top: 8rem;
}

.projects-section .featured-text-right {
    padding: 0 0 0 3rem;
}

.projects-section .featured-text-left {
    padding: 0 3rem 0 0;
}

/* leading line following line */
.leadingLine,
.followingLine {
    width: 100%;
    letter-spacing: 1px;
}

.leadingLine::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #7B7B7B;
    vertical-align: top;
    margin-top: 11px;
    margin-right: 10px;
}

.followingLine::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #7B7B7B;
    vertical-align: top;
    margin-top: 11px;
    margin-left: 10px;
}

/* UX Case thumbnails */
.UXCase {
    margin: 0 0 6rem 0;
    flex: 0 0 auto;
    width: 83.33333333%;
    margin-right: auto !important;
    margin-left: auto !important;
    position: relative;
}

.UXCaseTitle {
    margin: 0 0 1.5rem 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 0.25px;
    font-size: 1.55rem;
}

.UXCaseImg {
    overflow: hidden;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

.UXCaseImg img {
    cursor: pointer;
    width: 100%;
    height: auto;
    -webkit-animation-delay: 0.25s !important;
    animation-delay: 0.25s !important;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

.UXCaseImg:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div.UXCaseLabel {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.UXCaseLabel p {
    color: #9D9D9D;
    border: 1px solid #9D9D9D;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.25px;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0 8px 0 0;
}

.UXCaseNav {
    justify-content: center;
    align-items: center;
    margin: 5rem 0 3rem 0;
    padding: 2rem 0 0 0;
    display: flex;
    flex-flow: row;
}

.UXCaseNav a {
    margin: 0 1rem;
    font-size: 1.25rem;
    flex: 0 0 auto;
    width: auto;
    text-align: center;
}

.UXCaseButton {
  margin-top: 0rem;

}

.UXCaseTeam {
    justify-content: center;
    border: 1px solid var(--bs-gray-300);
    border-radius: 0.5rem;
    padding: 2.5rem 0;
    margin: 0 5rem;
    display: flex;
    flex-direction: row;
}

.UXCaseSwap {
    margin: 9rem 12vw 2rem 12vw;
    justify-content: space-between;
    display: flex;
}

.UXCaseSwap div {
    display: flex;
    justify-content: flex-end;
}

.UXCaseSwap p {
    margin: 0.5rem 0.5rem 0.9rem 0.2rem;
    font-size: 20px;
}

.UXCaseSwap .hvr-sweep {
    font-size: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.35s ease-in;
}
  
.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-70%);
}

.from-right {
    transform: translateX(70%);
}

.from-left,
.from-right {
    transition: opacity 0.35s ease-in, transform 0.45s ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/* Fancybox Image Gallery */
a[data-fancybox] img {
    cursor: pointer;
}
  
.fancybox__backdrop::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, 0.85);
    --fancybox-thumbs-width: 48px;
    --fancybox-thumbs-ratio: 1;
    --carousel-button-bg: rgb(91 78 76 / 74%);
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
    --carousel-button-svg-stroke-width: 2.5;
}
  
.fancybox__nav {
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
}
  
.fancybox__nav .carousel__button.is-prev {
    left: 20px;
}
  
.fancybox__nav .carousel__button.is-next {
    right: 20px;
}
  
.carousel__button.is-close {
    right: 5vw;
    left: auto;
}
  
.fancybox__slide {
    padding: 8px 88px;
}
  
/* Thumbnails */
.fancybox__thumbs .carousel__slide {
    padding: 8px 8px 16px 8px;
}
  
.is-nav-selected::after {
    display: none;
}
  
.fancybox__thumb {
    border-radius: 6px;
    opacity: 0.4;
}
  
.fancybox__thumb:hover,
.is-nav-selected .fancybox__thumb {
    border-radius: 6px;
    opacity: 1;
}
  
.is-nav-selected .fancybox__thumb::after {
    display: none;
}

.galleryThumb img {
    width: 100%;
}

.galleryInfo{
	position: absolute;
    background: rgba(0,0,0,0.65);
    bottom: 10px;
    padding: 15px;
	overflow:hidden;
	color:#fff;
	display:none;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 2;
    width: calc(100% - 20px);
    text-align: center;
}

.galleryInfo p,
.galleryInfo h5 {
    margin: 0;
}

/* Illustrations */
#illustrations {
    padding: 9rem 0;
    background-color: #0F171C;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.15), inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

#illustrations img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid white;
    filter: grayscale(50%) brightness(70%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

#illustrations img:hover {
    filter: none;
    border: 1px solid var(--bs-gray-400);
    box-shadow: 0 0 12px rgba(255,255,255, 0.65);
}

.pictures3Da {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    -webkit-column-gap:10px;
    -moz-column-gap:10px;
    column-gap:10px;
}

.picturesTrad img {
    max-height: calc(6rem + 25vw);
    object-fit: cover;
}

.picturesTrad,
.pictures3Db {
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    -webkit-column-gap:10px;
    -moz-column-gap:10px;
    column-gap:10px;
}

#illustrations .imgBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bs-gray-100);
    background-color: transparent;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 1rem 0;
    border:none;
    border-top: 1px solid var(--bs-gray-500);

}

.iconFA::after{
    content: "\2b";
    font-family: "Font Awesome 5 Free";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 0.75rem;
    padding: 0;
}

.iconFAminus::after{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 0.75rem;
    padding: 0;
}

/* Individual case study */
#CW_Research,
#VTP_Research,
#TD_Research {
    margin-bottom: 9.375rem;
    padding-top: 3rem;
}

#CW_Definition,
#CW_Prototyping {
    padding: 9.375rem 0;
    background: #B2AA9D;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.25), inset 0px 8px 8px rgba(0, 0, 0, 0.25);
}

#collapseCW .card {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.shortH6 {
    min-width: max-content;
}

#CW_Ideation .btn {
    border: none;
    padding: 10px 25px;
    background-color: #594736;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    transform: translate(0, 0);
    transition: 0s 0.30s;
}

#CW_Ideation .btn:active {
    background-color: #3b2f24;
    color: var(--bs-gray-200);
    box-shadow: none;
    transform: translate(2px, 2px);
    transition: 0s;
}

#VTP_Definition,
#VTP_Prototyping {
    padding: 9.375rem 0;
    background: #D2CDDD;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.15), inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

#VTP_Conclusion {
    padding: 9.375rem 0 2rem 0;
    background: #D2CDDD;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.15), inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

#VTP_Ideation img,
#VTP_Prototyping img {
    padding: 1rem 2rem 0 2rem;
}

#TD_Analysis,
#TD_Prototyping {
    padding: 9.375rem 0;
    background: #A7B7AC;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.15), inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

#TD_Final {
    padding: 9.375rem 0 2rem 0;
}

#AFA_Research,
#AFA_Evaluation {
    padding: 9.375rem 0;
    background: #DDE6EE;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.15), inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

#AFA_Final {
    padding: 9.375rem 0 2rem 0;
    background: #DDE6EE;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.15), inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

#AFA_Research img {
    padding: 3rem 1.5rem 0 1.5rem;
    flex: 0 0 auto;
    width: 25%;
}

#AFA_Ideation {
    padding-top: 9.375rem;
}

#AFA_Ideation img {
    padding: 1rem 0 5rem 0;
    margin-bottom: 3rem;
}

#AFA_Prototyping .galleryProduct {
    padding: 10px;
    margin: 0;
    position: relative;
}

#AFA_Prototyping .galleryProduct:hover .galleryInfo{
    display:block;
   -webkit-transition: 0.5s;
    transition: 0.5s;
}

#AFA_Prototyping .galleryMain {
    background-color: #2F373C;
    margin: 0 auto 3rem auto;
    padding: 4rem;
}


#AFA_Prototyping .galleryMain h6 {
    color: white;
    font-weight: 400;
    padding-bottom: 1rem;
}

#AFA_Prototyping .iteration {
    padding: 0;
    max-width: fit-content;
}

/* Page Scroller */
.scrollerContainer {
    display: block;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(-5% , -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollerContainer.active {
    visibility: visible;
    opacity: 1;
}

.scrollerContainer p {
    margin: 0;
    opacity: 0.25;
    transition-duration: 0.35s;
    padding: 2px 10px;
}

.scrollerContainer a {
    padding: 0.2rem;
    text-decoration: none;
    transition-duration: 0.35s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.scrollerContainer a:hover p,
.scrollerContainer a:focus p {
    opacity: 1;
    font-weight: 600;
}

.scrollerContainer span {
    content: " ";
    background-color: transparent;
    border: 1px solid rgb(94, 94, 94);
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.scrollerContainer span::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 2px;
    border-radius: 2px;
    transition-duration: 0.55s;
    opacity: 0;
    background-color: var(--bs-gray-700);
}

.scrollerContainer a:hover span::after,
.scrollerContainer a:focus span::after {
    opacity: 1;
}

.scrollerContainer .scrollerActive p {
    opacity: 1;
    font-weight: 600;
    color: var(--bs-gray-700);
    /* background-color: var(--bs-gray-200); */
}

.scrollerContainer .scrollerActive span::after {
    opacity: 1;
}

/* About Me */
.aboutMeTitle h1{
    font-family: 'IBM Plex Serif', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: calc(1.35rem + 1vw) !important;
    line-height: calc(1.15rem + 1vw);
    letter-spacing: 0.25px;
    margin: 0;
}

.aboutMeIntro,
.aboutMeXP,
.aboutMeEnd {
    margin: 9.375rem auto;
}

.aboutMeIntro h1 {
    font-family: 'IBM Plex Serif', sans-serif !important;
    font-weight: 300;
    font-size: calc(1.2rem + 4vw);
    line-height: calc(1.15rem + 4.5vw);
    letter-spacing: -1px;
    text-align: right;
    margin: 0;
}

.aboutMeIntro h5 {
    font-size: calc(0.9rem + 0.3vw) !important;
    line-height: calc(1.375rem + 0.3vw);
}

.aboutMeTag {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.aboutMeTag p{
    background: #141610;
    border-radius: 20px;
    color: white;
    margin-bottom: 0.15rem;
    padding: 1px 8px;
}

.aboutMeEnd h5{
    font-weight: 400;
}

.aboutMeEnd h6 {
    margin: 0;
    align-self: center;
    line-height: 24px;
    font-weight: 400;
}

/*  Figma Embeb */
iframe {
    height: 95vh;
}

/* Social Media footer */
.socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socialIcon img {
    max-height: 25px;
}

a[data-tool-tip] {
    position: relative;
}

a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    bottom: 0;
    left: -50%;
    align-self: center;
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
    padding: 4px 10px;
    margin: 0;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(0);
    transition: bottom ease-in 0.15s, transform ease-in 0.15s;
}

a[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 150%;
}

/*  Hero section */
.hero-section {
    padding: 200px;
    text-align: left;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 90vh;
    margin: auto;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
}

#page-top .hero-section {
    background-image: url("../assets/img/bg_main.png");
}
  
.caseStudyCW .hero-section {
    background-image: url("../assets/img/UX_CW/UX_CW_main.png");
}

.caseStudyVTP .hero-section {
    background-image: url("../assets/img/UX_VTP/UX_VTP_main.png");
}

.caseStudyTD .hero-section {
    background-image: url("../assets/img/UX_TD/UX_TD_main.png");
}

.caseStudyAFA .hero-section {
    background-image: url("../assets/img/UX_AFA/UX_AFA_main.png");
}

.aboutMe .hero-section {
    background-image: url("../assets/img/Illustrations/Others/201802_MBTA.jpg");
}

/* Accordions */
#TD_Final .accordion-item {
    background-color: var(--bs-gray-50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

#TD_Final .accordion-button:focus {
    background-color: var(--bs-gray-50);
    box-shadow: none;
}

#TD_Final .accordion-button:not(.collapsed) {
    background-color: var(--bs-gray-50);
    color: var(--bs-gray-400);
}

#AFA_Final .accordion-button {
    background-color: #DDE6EE;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

#AFA_Final .accordion-button:not(.collapsed) {
    background-color: #E7F1F8;
    color: var(--bs-gray-400);
    box-shadow: none;
}

#AFA_Final .accordion-collapse {
    background-color: #E7F1F8;
}

/* Screen size MAX-WIDTH 1200 */
@media (max-width:1200px) {
    .UXCaseLabel p {
        padding: 4px 4px !important;
        margin: 0 4px 0 0 !important;
    }
}

/* Screen size MAX-WIDTH 992 */
@media (max-width: 992px) {
    .navbar .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
        padding-bottom: 1rem;
    }
    .hero-section {
        display: block;
        padding: 140px;
    }
  
    .project-section-2 {
        height: 600px;
         margin-bottom: 100px;
    }
    .featured-text-left {
        padding: 0 !important;
    }
    .featured-text-right {
        padding: 0 !important;
    }
    .UXCase {
        margin: 0 0 8rem 0;
        width: 100%;
    }
    .UXCaseTitle {
        font-size: 1.3rem;
        margin: 1rem 0 0.75rem 0;
    }

    .UXCaseNav {
        padding: 0;
    }

    .UXCaseNav a {
        margin: 0 0.75rem;
        font-size: 1rem;
    }

    #AFA_Research img {
        padding: 3rem 0.5rem 0 0.5rem;
    }
    #AFA_Ideation img {
        padding: 0;
    }

    .aboutMeTitle {
        padding-top: 6rem;
    }
    .pictures3Db {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    -webkit-column-gap:10px;
    -moz-column-gap:10px;
    column-gap:10px;
}
}

/* Screen size MAX-WIDTH 768 */
@media (max-width: 768px) {
    .navbar .dropdown-menu {
        border: none;
    }
    .project-section-1 {
        padding-right: 20px;
        padding-left: 20px;
    }
  
    .hero-section {
        display: block;
        padding: 136px 16px;
        height: 100vh;
    }
    .UXCaseButton {
        margin-top: 1.5rem !important;
    }
    .UXCaseTeam b1,
    .UXCaseTeam h5,
    .UXCaseTeam a {
        font-size: 90%;
    }
    
    .UXCaseNav {
        display: none;
        }

    .imgSVG {
        display: none;
        }

    .UXCaseTeam h5{
        margin-top: 1.5rem;
    }
    #VTP_Ideation img {
        padding: 0;
    }
    .aboutMeTitle {
        padding-top: 9rem;
        padding-left: 1rem;
    }
    .aboutMeIntro h1 {
        text-align: left;
    }

    .socialIcon img {
        margin-top: 10px;
    }
}

/* Screen size MAX_WIDTH 576 */
@media (max-width: 576px) {
    .galleryInfo{
        padding: 10px;
        display:block;
    }
    .UXCaseSwap .hvr-sweep {
        font-size: 0.95rem;
    }
    .UXCaseSwap {
        display: block;
        margin: 0 6vw 2rem 6vw;
        font-size: 0.95rem;
    }

    .UXCaseTeam {
        padding: 2.5rem 1rem;
        max-width: 70%;
        min-width: fit-content;
        flex-flow: column;
    }
    #AFA_Research img {
        width: 85%;
    }
    #AFA_Research .left {
        padding: 1rem 5rem 0 0;
    }
    #AFA_Research .right {
        padding: 1rem 0 0 5rem;
    }
    .AFA_EvalImage {
        display: none;
    }
    iframe {
        height:85vh;
    }

    #projects p,
    .caseStudyCW p,
    .caseStudyAFA p,
    .caseStudyTD p,
    .caseStudyVTP p {
        font-size: 14px;
    }

    .navbar-nav li {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }
    #AFA_Prototyping .galleryMain {
        margin: 0 auto 1rem auto;
        padding: 1.5rem;
    }
    #AFA_Prototyping .galleryProduct {
        padding: 5px;
    }

    #AFA_Prototyping .galleryInfo {
        bottom: 5px;
        width: calc(100% - 10px);
    }

    .scrollerContainer {
        display: none;
    }

    .aboutMe .hero-section {
        overflow: hidden;
    }
    .aboutMeTitle {
        padding-top: 2.5rem;
    }

    #illustrations img {
        filter: none;
        margin-bottom: 5px;
    }
	
    .pictures3Da,
    .picturesTrad {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        -webkit-column-gap:0;
        -moz-column-gap:0;
        column-gap:0;
    }

    .pictures3Db {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap:5px;
        -moz-column-gap:5px;
        column-gap:5px;
    }
}

/* Screen size MAX-WIDTH 479 */
@media screen and (max-width: 479px) {
    .project-section-1 {
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
  
    .hero-section {
        display: block;
        margin: 32px auto 0px auto;
        padding: 200px 0px 140px 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        background-image: url('../assets/img/bg_main.png'), -webkit-gradient(linear, left top, left bottom, from(#e8cf7d), to(#e8cf7d));
        background-image: url('../assets/img/bg_main.png'), linear-gradient(180deg, #e8cf7d, #e8cf7d);
        background-position: 69% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed, scroll;
    }
}

/* Screen size MIN-WIDTH 992 */
@media (min-width: 992px) {
    .masthead,
    .masthead-sub {
        height: 95vh;
        padding: 0;
    }
        
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }

    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        box-shadow: none;
        transition: background-color 0.3s ease-in-out;
        -webkit-transition: background-color 0.3s ease-in-out;
    }

    #mainNav .nav-link {
        transition: none;
        padding: 1.15rem 0rem 1.5rem 3rem;
        color: rgb(17, 17, 17);
    }
    
    #mainNav .nav-link:hover {
        color: rgba(17, 17, 17, 0.75);
    }
    
    #mainNav .nav-link:active {
        color: #fff;
    }

    #mainNav.navbar-shrink {
        background-color: rgba(255,255,255, 0.85);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: var(--bs-gray-900);
    }

    #mainNav.navbar-shrink .nav-link {
        color: #000;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover{
        color: #7EA19F;
    }

    #mainNav.navbar-shrink .nav-link:active{
        color: #7EA19F;
    }

    #mainNav.navbar-shrink .nav-link.active{
        color: #7EA19F;
        outline: none;
        border-bottom: 0.5rem solid #7EA19F;
    }
 
    .caseStudyVTP .navbar-shrink .nav-link:hover {
        color: #7E6CA6 !important;
    }

    .caseStudyVTP .navbar-shrink .nav-link:active {
        color: #7E6CA6 !important;
    }

    .caseStudyVTP .navbar-shrink .nav-link.active {
        color: #7E6CA6 !important;
        border-bottom: 0.5rem solid #7E6CA6 !important;
    }

    .caseStudyTD .navbar-shrink .nav-link:hover {
        color: #4D8C61 !important;
    }

    .caseStudyTD .navbar-shrink .nav-link:active {
        color: #4D8C61 !important;
    }

    .caseStudyTD .navbar-shrink .nav-link.active {
        color: #4D8C61 !important;
        border-bottom: 0.5rem solid #4D8C61 !important;
    }

    .caseStudyCW .navbar-shrink .nav-link:hover {
        color: #807566 !important;
    }

    .caseStudyCW .navbar-shrink .nav-link:active {
        color: #807566 !important;
    }

    .caseStudyCW .navbar-shrink .nav-link.active {
        color: #807566 !important;
        border-bottom: 0.5rem solid #807566 !important;
    }

}

/* Screen size MIN-WIDTH 768 */
@media (min-width: 768px) {
    .UXCaseTeam {
        margin: 0;
    }
}
