.navbar .dropdown-menu{
    right: 0px;
    width: fit-content;
    left: unset;
}

.mainDropdown {
    width: max-content;
}

#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: var(--bs-gray-900);
    border: 1px solid var(--bs-gray-900);
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active {
    outline: none;
    color: var(--bs-gray-500);
    border: 1px solid var(--bs-gray-200);
    background-color: var(--bs-gray-200);
}

#mainNav .navbar-brand {
    color: var(--bs-gray-900);
    font-weight: 600;
    padding: 0.9rem 0;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:hover {
    color: var(--bs-gray-700);
    font-weight: 700;
}

#mainNav.navbar-shrink .navbar-brand:focus,
#mainNav.navbar-shrink .navbar-brand:active,
#mainNav.navbar-shrink .navbar-brand:hover {
    color: #7EA19F;
}

.caseStudyVTP .navbar-shrink .navbar-brand:focus,
.caseStudyVTP .navbar-shrink .navbar-brand:active,
.caseStudyVTP .navbar-shrink .navbar-brand:hover {
    color: #434343 !important;
}

#mainNav .navbar-nav .nav-item:hover{
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
    /*  font-family: Lato; */
    font-weight: 900;
    /*  letter-spacing: 0.25px; */
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        box-shadow: none;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgb(17, 17, 17);
    }
    
    #mainNav .nav-link:hover {
        color: rgba(17, 17, 17, 0.75);
    }
    
    #mainNav .nav-link:active {
        color: #fff;
    }

    #mainNav.navbar-shrink {
        background-color: rgba(255,255,255, 0.85);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: var(--bs-gray-900);
    }

    #mainNav.navbar-shrink .nav-link {
        color: #000;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover{
        color: #7EA19F;
    }

    #mainNav.navbar-shrink .nav-link:active{
        color: #7EA19F;
    }

    #mainNav.navbar-shrink .nav-link.active{
        color: #7EA19F;
        outline: none;
        border-bottom: 0.5rem solid #7EA19F;
    }

    .caseStudyVTP .navbar-shrink .nav-link:hover {
        color: #434343 !important;
    }

    .caseStudyVTP .navbar-shrink .nav-link:active {
        color: #434343 !important;
    }

    .caseStudyVTP .navbar-shrink .nav-link.active {
        color: #434343 !important;
        border-bottom: 0.5rem solid #434343 !important;
    }
}

.masthead {
    position: relative;
    width: auto;
    padding: 15rem 0;
}

.masthead h1 {
    font-family: 'IBM Plex Serif', sans-serif !important;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.05rem !important;
    background: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
    font-weight: 500 !important;
}

@media (max-width: 576px) {
    .masthead h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 88vh;
        padding: 0;
    }
    
    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}

.masthead-sub {
    position: relative;
    width: auto;
    padding: 15rem 0;
}

.masthead-sub h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.75rem;
    letter-spacing: 0.25px;
    background: #141610;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
}

.masthead-sub h2 {
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 22px !important;
}

@media (max-width: 576px) {
    .masthead-sub h1 {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

@media (min-width: 992px) {
    .masthead-sub {
        height: 88vh;
        padding: 0;
    }
}
  
.topFade {
    opacity: 0;
    animation: topFadeOut 1200ms 500ms ease-out forwards;
}

@keyframes topFadeOut {
    0% {    
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn-2 {
    opacity: 0;
    animation: fadeInText 2500ms 500ms ease-out forwards;
}

.fadeIn-1{
    opacity: 0;
    animation: fadeInText 1500ms 1000ms ease-out forwards;
}

@keyframes fadeInText {
    100%{
        opacity: 1;
    }
}

.aboutMeTag {
    font-family: 'IBM Plex Serif', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 3.4rem;
    line-height: 74px;
    letter-spacing: 0.25px;
}
  
@media (max-width: 992px) {
    .aboutMeTag {
        font-size: 1.75rem;
        line-height: 2.15rem;
    }
}
  
.aboutMeBody {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.about-section p {
    margin-bottom: 5rem;
}

.projects-section {
    padding: 8rem 0 2rem 0;
}

.projects-section .featured-text-right {
    padding: 0 0 0 6rem;
}

.projects-section .featured-text-left {
    padding: 0 6rem 0 0;
}


@media (max-width: 992px) {
    .featured-text-left {
        padding: 0 !important;
    }
}

@media (max-width: 992px) {
    .featured-text-right {
        padding: 0 !important;
    }
}

.leadingLine,
.followingLine {
    width: 100%;
    letter-spacing: 1px;
}

.leadingLine::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #7B7B7B;
    vertical-align: top;
    margin-top: 11px;
    margin-right: 10px;
}

.followingLine::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #7B7B7B;
    vertical-align: top;
    margin-top: 11px;
    margin-left: 10px;
}

.UXCase {
  margin: 0 0 12.5rem 0;
}

@media (max-width: 992px) {
  .UXCase {
    margin: 0 0 8rem 0;
  }
}

.UXCaseTitle {
  margin: 2rem 0 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25px;
  font-size: 1.55rem;
}

@media (max-width: 992px) {
  .UXCaseTitle {
    font-size: 1.3rem;
    margin: 1rem 0 0.75rem 0;
  }
}

img.UXCaseImg {
  cursor: pointer;
  width: 100%;
  height: auto;
  -webkit-animation-delay: 0.25s !important;
  animation-delay: 0.25s !important;
  -webkit-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25)); 
}

img.UXCaseImg:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25)) drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.35)); 
}

/* .UXCaseImg-right {
  padding-left: 60px;
}

.UXCaseImg-left {
  padding-right: 60px;
}

@media (max-width: 992px) {
  .UXCaseImg-left, .UXCaseImg-right {
    padding: 0px !important;
  }
} */

div.UXCaseLabel {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.UXCaseLabel .UXCaseTag {
  color: #9D9D9D;
  border: 1px solid #9D9D9D;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  padding: 4px 10px;
  margin: 0 8px 0 0;
}

@media (max-width:1200px) {
  .UXCaseTag {
    padding: 4px 4px !important;
    margin: 0 4px 0 0 !important;
  }
}

.UXCaseButton {
  margin-top: 0rem;
}

@media (max-width: 768px) {
  .UXCaseButton {
    margin-top: 1.5rem !important;
  }
}

.hero-section {
    padding: 200px;
    text-align: left;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 90vh;
    margin: auto;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../assets/img/bg_main.png");
}
  
.caseStudyVTP .hero-section {
    background-image: url("../assets/img/UXCaseStudies/UX_VTP_main.png");
}

.hero-section {
    padding: 200px;
    text-align: left;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 90vh;
    margin: auto;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../assets/img/bg_main.png");
}
  
.caseStudyVTP .hero-section {
    background-image: url("../assets/img/UXCaseStudies/UX_VTP_main.png");
}

.aboutPage .hero-section {
    background-image: url("../assets/img/About.png");
}
  
@media screen and (max-width: 991px) {
    .hero-section {
          display: block;
          margin-right: 21px;
        margin-left: 21px;
        padding: 140px;
    }
  
    .project-section-2 {
      height: 600px;
      margin-bottom: 100px;
    }
}
  
@media screen and (max-width: 767px) {
    .project-section-1 {
          padding-right: 20px;
        padding-left: 20px;
    }
  
    .hero-section {
        display: block;
        padding: 136px 16px;
        height: 100vh;
    }
}
  
@media screen and (max-width: 479px) {
    .project-section-1 {
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
  
    .hero-section {
        display: block;
        width: 90%;
        height: 90vh;
        margin: 32px auto 0px auto;
        padding: 200px 0px 140px 0px;
        overflow: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url('../assets/img/bg_main.png'), -webkit-gradient(linear, left top, left bottom, from(#e8cf7d), to(#e8cf7d));
        background-image: url('../assets/img/bg_main.png'), linear-gradient(180deg, #e8cf7d, #e8cf7d);
        background-position: 69% 50%;
        background-size: cover, auto;
        background-repeat: no-repeat, repeat;
        background-attachment: fixed, scroll;
    }
}
  