.NavBar {
    background-color: lightgrey;
    text-align: left;
}

.NavItem {
    display: inline-block;
    background-color: gray;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 4px;
}

.left {
    display: inline-block;
    background-color: aqua;
    height: 600px;
    width: 29%;
}

.leftTop {
    background-color: orange;
    height: 40%;
}

.leftBot {
    background-color: orangered;
    height: 60%;
}

.right {
    display: inline-block;
    background-color: blue;
    height: 600px;
    width: 70%;
}